@import "mixsins_2";

* {
    background-color: $pageBackground;
}

.headshots {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex-basis:1;
    align-items: center;
    justify-content: center;
    position: relative;
    
    img {
        @include pictures;
        margin: 0%;
        padding:10px;
        border-radius: 30px;    
    }  

    .overlay {
    position:absolute;
    transition: all .3s ease;
    opacity:0;
    top:0;
    left:0;
    background-color: rgb(51, 49, 49);
    }

    a {
        background-color: lightgrey;
        color:black ;
        
    }
}
    
.headshots:hover {
    background-color: black;
  }


@media screen and (min-width: 320px) {
    img {
        flex: 100%;
    }
}

@media screen and (min-width: 768px) {
    img {
        flex: 50%;
        flex-basis:2;
    }
}
@media screen and (min-width: 1024px) {
    .headshots {
        margin-left: 50px;

        img {
            flex: 100%;
            flex-basis:3;
            }
        }
}
